// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 600px)";
$bp-wide: "(min-width: 1100px)";

$body-color: rgb(0, 0, 0);
$text-color-bold: #ff00ae;
$text-color-dark: mix($text-color-bold, rgb(89, 20, 225), 80%);
$text-color: mix($text-color-bold, $body-color, 80%);
$text-color-light: mix($text-color-bold, $body-color, 60%);
$text-color-super-light: mix($text-color-bold, $body-color, 30%);
$accent-color: rgb(35, 126, 10);
$accent-color-contrast: rgb(21, 14, 147);

